body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.light-blue {
  color: #5d9ef2;
}

.dark-blue {
  color: #001c33;
}

.red-base {
  color: #ff1235;
}

.white-font {
  color: #fff;
}

.fake-hight {
  min-height: 10px;
  background: #00468e;
}

@media (max-width: 768px) {
  .fake-hight {
    display: none;
  }
}

.footer-pink-fake {
  min-height: 10px;
}

@media (max-width: 768px) {
  .footer-pink-fake {
    display: none;
  }
}

@media (max-width: 768px) {
  .partners-pink {
    display: none;
  }
}

.swal-modal {
  background: #1470bf;
}

.swal-text {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/* ********* NAVBAR *********   */

.navbar-home {
  background: #1470bf;
}

.background-blue-2 {
  background: #00468e;
}

.background-blue-1 {
  background: #1470bf;
}

.navbar-bbod:hover {
  opacity: 0.75;
  transition: 0.25s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* ********* HOME *********   */

.quote {
  font-size: 3rem;
  padding-top: 90px;
  padding-bottom: 90px;
}

.migrate.migrate-btn {
  font-size: 1rem;
  color: #ff1235;
  border: 1px solid #ff1235;
  border-radius: 2px;
  padding: 0.5rem;
  text-decoration: none;
}

.migrate.migrate-btn:hover {
  background: #ff1235;
  transition: 0.5s;
  color: #fff;
  box-shadow: 1px 1px #5d9ef2, 2px 2px #5d9ef2, 3px 3px #5d9ef2;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  text-decoration: none;
}

.quote a {
  text-decoration: none;
}

/* .logo-big {
  opacity: 0.2;
} */
.logo-big {
  /* transform: scale(1.25);
  transition: 1s ease-in-out; */
  /* -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2; */
  animation: beat 2.5s infinite;
}

.slogan {
  font-size: 500%;
  opacity: 0.01;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -moz-linear-gradient(45deg, #001c33 0%, #ff1235 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #001c33),
    color-stop(100%, #ff1235)
  );
  background-image: -webkit-linear-gradient(45deg, #001c33 0%, #ff1235 100%);
  background-image: -o-linear-gradient(45deg, #001c33 0%, #ff1235 100%);
  background-image: -ms-linear-gradient(45deg, #001c33 0%, #ff1235 100%);
  background-image: linear-gradient(45deg, #001c33 0%, #ff1235 100%);
}

.slogan:hover {
  opacity: 0.8;
  font-size: 780%;
  transition: 2s ease-in-out;
}

/* ********* HOME FEATURES*********   */

.home-section-header {
  font-size: 2.5rem;
  padding-left: 4rem;
}

.home-section-more a {
  text-decoration: none;
  color: #ff1235;
  padding-right: 4rem;
}

.home-section-more a:hover {
  text-decoration: none;
  color: #fff;
}

.home-feature-item {
  background: #00468e;
  color: #fff;
}

.feature-icon {
  padding-top: 3rem;
}

.feature-name {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.feature-description {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.home-feature-item:hover {
  background: rgba(0, 70, 142, 0.9);
  transition: 0.5s;
}

/* ********* HOME ABOUT*********   */

.quote-about {
  font-size: 2rem;
  padding-top: 90px;
  padding-bottom: 90px;
}

.quote-about-desc {
  font-size: 1rem;
  background: rgba(255, 96, 97, 0.9);
  padding-left: 5rem;
  padding-right: 5rem;
}

.home-section-more-about a {
  text-decoration: none;
  color: #ff1235;
  padding-right: 4rem;
}

.home-section-more-about a:hover {
  opacity: 0.65;
}

/* ********* HOME PRODUCTS*********   */

.read-more-white a {
  color: #fff;
}

.read-more-white a:hover {
  color: #ff1235;
}

.home-product-item {
  background: #1470bf;
  color: #fff;
}

/* ********* HOME PARTNERS*********   */

.partners-logos {
  background: rgba(255, 96, 97, 0.9);
}

.partner-logo {
  filter: grayscale(100%);
  opacity: 0.5;
  padding: 1rem;
}

.partner-logo:hover {
  filter: grayscale(50%);
  opacity: 1;
}

/* ********* FEATURES *********   */

.feature-desc {
  font-size: 2rem;
}

/* .feature-item:hover {
  background: rgba(0, 70, 142, 0.9);
  transition: 0.5s;
} */

/* ********* PRODUCTS *********   */

.about-desc {
  font-size: 1rem;
}

/* ********* ABOUT *********   */

.photo-about {
}

/* ********* ABOUT PERSON *********   */

.about-person-icon {
  padding-top: 3rem;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.about-person-icon:hover {
  padding-top: 0;
  background: #1470bf;
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.about-person-description {
  font-size: 1rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 400px;
  height: 400px;

  opacity: 0;
}

.about-person-description:hover {
  background: #1470bf;
  opacity: 0.85;
  /* overflow: scroll; */
}

.about-person-position {
  font-size: 1.25rem;
}

.about-person-name {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

/* ********* NEWSLETTER FORM *********   */

.text-help {
  color: #ff1235;
  font-size: 1rem;
}

.btn-newsletter {
  background: #fff;
  font-size: 1rem;
  color: #1470bf;
  border: 1px solid #1470bf;
  border-radius: 2px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-newsletter:hover {
  background: #1470bf;
  transition: 0.5s;
  color: #fff;
  box-shadow: 1px 1px #5d9ef2, 2px 2px #5d9ef2, 3px 3px #5d9ef2;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.newsletter-logo {
  position: absolute;
  height: 500px;
  top: 100px;
  right: 50px;
  z-index: 50;
}

@media (max-width: 768px) {
  .newsletter-logo {
    right: 0;
  }
}

.has-danger .custom-file-control,
.has-danger .form-control,
.is-focused .has-danger .custom-file-control,
.is-focused .has-danger .form-control {
  background-image: -webkit-linear-gradient(
      bottom,
      #1470bf 2px,
      rgba(244, 67, 54, 0) 0
    ),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: -o-linear-gradient(
      bottom,
      #ff123 2px,
      rgba(244, 67, 54, 0) 0
    ),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: linear-gradient(0deg, #1470bf 2px, rgba(244, 67, 54, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: -webkit-linear-gradient(
      bottom,
      #1470bf 2px,
      rgba(0, 150, 136, 0) 0
    ),
    -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: -o-linear-gradient(
      bottom,
      #1470bf 2px,
      rgba(0, 150, 136, 0) 0
    ),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.26) 1px, transparent 0);
  background-image: linear-gradient(0deg, #1470bf 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
}

label {
  color: #001c33;
}

/* ********* MAP *********   */

.map {
  width: 100%;
  height: 500px;
  filter: grayscale(60%);
}

.contact-item {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.map-square-blue {
  height: 150px;
}

/* ********* MIGRATE TOKENS *********   */

.migrate-link {
  text-decoration: none;
  color: #5d9ef2;
}

.migrate-link:hover {
  text-decoration: none;
  color: #ff1235;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.abi-json {
  font-size: 0.6rem;
}

/* ********* FOOTER *********   */

.btn-footer {
  background: #5d9ef2;
  color: #fff;
  font-size: 2.125rem;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: none;
}

.btn-footer:hover {
  color: #00468e;
  background: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.footer-text a {
  color: #000;
  text-decoration: none;
}

.footer-text a :hover {
  background: rgba(93, 158, 242, 0.3);
  transition: 0.25s;
}

.footer-text-header {
  font-size: 1.5rem;
}

.footer-media {
  color: #00468e;
  background: rgba(93, 158, 242, 0.2);
}

.logo-media {
  filter: grayscale(100%);
  opacity: 0.8;
}

.logo-media:hover {
  filter: grayscale(10%);
  opacity: 1;
}

.migrate-btn {
  background: #fff;
}

/* ********* ANIMATIONS *********   */

@keyframes beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.15);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes resizing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
    opacity: 0.35;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  75% {
    transform: scale(1.25);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes beat-xs {
  0% {
    transform: scale(0.75);
  }
  5% {
    transform: scale(0.85);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes resizing-xs {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.85);
    opacity: 0.35;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  75% {
    transform: scale(0.95);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* @-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
} */

/* ********* MEDIA *********   */

/* ********* HOME *********   */

@media (max-width: 576px) {
  .quote {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logo-big {
    margin-bottom: 60px;
    animation: beat-xs 2.5s infinite;
    z-index: -50;
  }
  .slogan {
    opacity: 0.5;
    animation: resizing-xs 2.5s infinite;
  }
}

/* ********* HOME FEATURES*********   */

@media (max-width: 576px) {
  .features-home {
    background: #00468e;
  }
  .home-section-header {
    font-size: 1.75rem;
    padding-left: 2rem;
  }
  .home-section-more a {
    padding-right: 2rem;
  }
  .feature-name {
    font-size: 1.25rem;
  }
  .feature-description {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ********* HOME ABOUT*********   */

@media (max-width: 576px) {
  .home-section-more-about a {
    padding-right: 2rem;
  }
  .quote-about {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
  }
  .quote-about-desc {
    padding: 3rem;
  }
}

/* ********* HOME PRODUCTS *********   */

/* ********* HOME PRODUCTS *********   */

@media (max-width: 576px) {
  .partners-white {
    display: none;
  }
}

/* ********* FOOTER *********   */

@media (max-width: 576px) {
  .btn-footer {
    font-size: 1.75rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 0.75rem;
  }
  .footer-text-header {
    font-size: 1rem;
  }
}

/* ********* GENERAL *********   */

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.row {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

body {
  overflow-x: hidden;
}
